{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "exclude": [
        "**/*.d.ts"
    ],
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**/!(*.test.*).[tj]s?(x)"
    ],
    "reporter": [
        "html",
        "lcov",
        "text",
        "text-summary"
    ],
    "report-dir": "coverage"
}
