<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<%= _.render('inc/pagination', obj.pagination) %>
<div class="row">
	<form method="get">
		<div class="three columns">
			<label for="q">Search</label>
			<input class="u-full-width" type="text" name="q" value="<%= obj.global.urlParsed.query.q %>" />
		</div>

		<div class="three columns">
			<button type="submit">Search</button>
		</div>
	</form>
</div>

<table>
	<thead>
		<tr>
			<th></th>
			<th>Uuid</th>
			<th>Slug</th>
			<th>Path</th>
		</tr>
	</thead>
	<tbody>
	<% _.each(images, function(image) { %>
		<tr>
			<td><img src="/uploaded/images/<%= image.slug %>?width=200" alt="" /></td>
			<td><a href="adminImageEdit?uuid=<%= image.uuid %>"><%= image.uuid %></a></td>
			<td><%= image.slug %></td>
			<td>/uploaded/images/<%= image.slug %></td>
		</tr>
	<% }) %>
	</tbody>
</table>
<%= _.render('inc/pagination', obj.pagination) %>
<%= _.render('inc/pageBottom', obj) %>
