<%= _.render('inc/head', obj) %>
<%= _.render('inc/pageTop', obj) %>
<table>
	<thead>
		<tr>
			<th></th>
			<th>Uuid</th>
			<th>Slug</th>
			<th>Path</th>
		</tr>
	</thead>
	<tbody>
	<% _.each(images, function(image) { %>
		<tr>
			<td><img src="/uploaded/images/<%= image.slug %>?width=200" alt="" /></td>
			<td><a href="adminImageEdit?uuid=<%= image.uuid %>"><%= image.uuid %></a></td>
			<td><%= image.slug %></td>
			<td>/uploaded/images/<%= image.slug %></td>
		</tr>
	<% }) %>
	</tbody>
</table>
<%= _.render('inc/pageBottom', obj) %>
