<div class="row">
	<div class="six columns">
		<a href="/adminImages" class="button">Cancel</a>
		<% if (global.urlParsed.query.id) { %>
			<button type="submit" name="delete">Delete image</button>
		<% } %>
	</div>

	<div class="six columns text_right">
		<button type="submit" name="save" value="save">Save</button>
	</div>
</div>